<?xml version="1.0" encoding="utf-8"?>
<!-- 
    注意: 對於僅適用於測試專案的組態設定，請將
    項目加入到 App.config 檔案。
-->
<configuration>
	<configSections>
		<section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
	</configSections>
	<appSettings>

	</appSettings>

	<connectionStrings>

	</connectionStrings>
	<specFlow>
		<!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config -->
		<unitTestProvider name="MsTest"></unitTestProvider>
	</specFlow>
</configuration>
